@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  /* font-display: swap; */
  src: url("/font/SVN-Gotham\ Thin.otf");
  /* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  src: url("/font/SVN-Gotham\ Regular.otf");
  /* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  /* font-display: swap; */
  src: url("/font/SVN-Gotham\ Bold.otf");
  /* unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: "UTM Beautiful";
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  src: url("/font/[cnttqn.net]\ UTM\ Beautiful\ Caps.ttf");
}
